@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-image: url('./image/sky4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background:rgba(0, 0, 0, 0.121) ;
    height: 100vh;
}